<app-header></app-header>
<section id="contentbody">
  <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
          <div class="row">
              <div class="left_bar">
                  <div class="single_leftbar">
                      <h2><span>Recent Post</span></h2>
                      <div class="singleleft_inner">
                          <ul class="recentpost_nav wow fadeInDown"
                              *ngFor="let news of newList | slice:0:3; let i=index">
                              <li><a href="{{news.url}}"><img src="{{news.urlToImage}}" alt=""></a> <a
                                      class="recent_title" href="{{news.url}}"> {{news.title}}</a></li>

                          </ul>
                      </div>
                  </div>

              </div>
          </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
          <div class="row">
              <div class="middle_bar">
                  
                  
                  <div class="category_three_fourarea  wow fadeInDown">
                      <div class="category_three">
                          <div class="single_category">
                              <div class="category_title"> <a href="assets/pages/single_page.html">Entertainment
                                      News</a></div>
                              <div class="single_category_inner">
                                  <div class="catg3_bottompost wow fadeInDown">
                                      <ul class="catg3_snav">
                                          <li *ngFor="let news of entertainmentNews">
                                              <div class="media"> <a class="media-left" href="#"> <img
                                                          src="{{news.urlToImage}}" alt=""> </a>
                                                  <div class="media-body"> <a class="catg_title"
                                                          href="assets/pages/single_page.html">{{news.title}}</a>
                                                          <button type="button" class="btn btn-info">Add</button>
                                                      <div class="sing_commentbox">
                                                          <p><i class="fa fa-calendar"></i>{{news.publishedAt}}</p>

                                                      </div>
                                                  </div>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>

              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="row">
              <div class="right_bar">
                  <div class="single_leftbar wow fadeInDown">
                      <h2><span>Top Headlines From India</span></h2>
                      <div class="singleleft_inner">
                          <ul class="catg3_snav ppost_nav wow fadeInDown">
                              <li *ngFor="let news of topheadlinesUs | slice:0:10; let i=index ">
                                  <div class="media"> <a href="assets/pages/single_page.html" class="media-left"> <img
                                              alt="" src="{{news.urlToImage}}"> </a>
                                      <div class="media-body"> <a href="assets/pages/single_page.html"
                                              class="catg_title"> {{news.title}}</a></div>
                                              
                                  </div>
                              </li>

                          </ul>
                      </div>
                  </div>

                  <div class="single_leftbar wow fadeInDown">
                      <ul class="nav nav-tabs custom-tabs" role="tablist">
                          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                  data-toggle="tab">Most Popular</a></li>
                          <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                                  data-toggle="tab">Most Reader</a></li>
                          <li role="presentation"><a href="#messages" aria-controls="messages" role="tab"
                                  data-toggle="tab">Recent Comment</a></li>
                      </ul>
                      <div class="tab-content">
                          <div role="tabpanel" class="tab-pane fade in active" id="home">
                              <ul class="catg3_snav ppost_nav wow fadeInDown">
                                  <li *ngFor="let news of popularList">
                                      <div class="media"> <a class="media-left" href="#"> <img
                                                  src="{{news.urlToImage}}" alt=""> </a>
                                          <div class="media-body"> <a class="catg_title" href="#"> {{news.title}}</a>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="profile">
                              <ul class="catg3_snav ppost_nav wow fadeInDown">
                                  <li *ngFor="let news of mostrecentList">
                                      <div class="media"> <a class="media-left" href="#"> <img
                                                  src="{{news.urlToImage}}" alt=""> </a>
                                          <div class="media-body"> <a class="catg_title" href="#"> {{news.title}}</a>
                                          </div>
                                      </div>
                                  </li>

                              </ul>
                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="messages">
                              <ul class="catg3_snav ppost_nav wow fadeInDown">
                                  <li *ngFor="let news of healthList">
                                      <div class="media"> <a class="media-left" href="#"> <img
                                                  src="{{news.urlToImage}}" alt=""> </a>
                                          <div class="media-body"> <a class="catg_title" href="#"> {{news.title}}</a>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>

                  <div class="single_leftbar wow fadeInDown">
                      <h2><span>Labels</span></h2>
                      <div class="singleleft_inner">
                          <ul class="label_nav">
                              <li><a href="#">Arts</a></li>
                              <li><a href="#">Cinema</a></li>
                              <li><a href="#">Comedy</a></li>
                              <li><a href="#">Sports</a></li>
                              <li><a href="#">Tourism</a></li>
                              <li><a href="#">Videos</a></li>
                              <li><a href="#">Nature</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="single_leftbar wow fadeInDown">
                      <h2><span>Links</span></h2>
                      <div class="singleleft_inner">
                          <ul class="link_nav">
                              <li><a href="#">Blog Home</a></li>
                              <li><a href="#">Blog</a></li>
                              <li><a href="#">Error Page</a></li>
                              <li><a href="#">Wpfreeware</a></li>
                              <li><a href="#">Facebook Account</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<app-footer></app-footer>